<!DOCTYPE html>
<html>
	<head>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    	<link rel='stylesheet' href='/css/grow.css'>
		<title>Sustainable Summer</title>
	</head>

	<body>
		<div id="intro">
			<h3>Harlem Grown presents . . .</h3>
			<h1>A Sustainable Summer</h1>
		</div>
		<div id="about">
			<h3>Harlem Grown is on a mission to inspire youth to live HEALTHY and AMBITIOUS lives through mentorship and hands-on education in urban farming, sustainability and nutrition. We started a summer camp for youth to farm, learn, and have fun!<br><br><div class="centertext"><strong>See what our campers are growing here in Harlem.</strong></div></h3>
			<div class="arrow-down">
				<a href="#posts">
					<img src="images/arrow.png">
				</a>
			</div>
		</div>
		<div id="posts">
			BLOG WILL GO HERE
			
		</div>
	</body>
</html>